   # Melbourne Dataset - House Price Prediction

In [2]:
import pandas as pd
import numpy as np 

print("imported")

imported

In [3]:
Melbourne = pd.read_csv("melb_data.csv")

In [4]:
pwd

'C:\\Users\\Adity Dayal\\Desktop\\Python\\melb_data.csv'

In [5]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 5677-1546

 Directory of C:\Users\Adity Dayal\Desktop\Python\melb_data.csv

13-11-2024  00:03    <DIR>          .
12-11-2024  20:20    <DIR>          ..
12-11-2024  20:22    <DIR>          .ipynb_checkpoints
12-11-2024  20:20         2,091,239 melb_data.csv
13-11-2024  00:03            25,056 Melbourne.ipynb
               2 File(s)      2,116,295 bytes
               3 Dir(s)  228,030,742,528 bytes free

In [8]:
Melbourne.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
Melbourne.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [10]:
Melbourne.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [19]:
Y = Melbourne.Price

In [20]:
Melbourne_features = ['Landsize','Bathroom','Rooms','Longtitude','Lattitude']

In [21]:
X = Melbourne[Melbourne_features]

In [22]:
X.describe()

            Landsize      Bathroom         Rooms    Longtitude     Lattitude
count   13580.000000  13580.000000  13580.000000  13580.000000  13580.000000
mean      558.416127      1.534242      2.937997    144.995216    -37.809203
std      3990.669241      0.691712      0.955748      0.103916      0.079260
min         0.000000      0.000000      1.000000    144.431810    -38.182550
25%       177.000000      1.000000      2.000000    144.929600    -37.856822
50%       440.000000      1.000000      3.000000    145.000100    -37.802355
75%       651.000000      2.000000      3.000000    145.058305    -37.756400
max    433014.000000      8.000000     10.000000    145.526350    -37.408530

In [23]:
Y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

# Model training

In [24]:
from sklearn.tree import DecisionTreeRegressor

In [25]:
Melb_model = DecisionTreeRegressor(random_state = 1)

In [26]:
Melb_model.fit(X,Y)

DecisionTreeRegressor(random_state=1)

In [29]:
print(X.head())

prediction = Melb_model.predict(X)
print(prediction)

   Landsize  Bathroom  Rooms  Longtitude  Lattitude
0     202.0       1.0      2    144.9984   -37.7996
1     156.0       1.0      2    144.9934   -37.8079
2     134.0       2.0      3    144.9944   -37.8093
3      94.0       2.0      3    144.9969   -37.7969
4     120.0       1.0      4    144.9941   -37.8072
[1480000. 1035000. 1465000. ... 1170000. 2500000. 1285000.]

In [31]:
print(Y.head())

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [33]:
from sklearn.metrics import  mean_absolute_error, mean_squared_error, r2_score

In [36]:
print(len(X), len(Y))

13580 13580